.news-title, .news-content {
    font-family: "Microsoft YaHei",Roboto,Helvetica,Arial,sans-serif;
}
.news-card-container {
    padding-top: 2rem;
    margin: 1rem;
}
.news-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.75;
}
.news-card-image {
    padding: 1rem;
    text-align: center;
}
.news-image {
    max-width: 100%;
}
.news-card-content {
    font-size: 1.15em;
    line-height: 1.5;
    padding: 0.75rem;
}

.news-card-info {
    text-align: center;
}
