body{
    font-family: "Times New Roman";
}
.content-news {
    padding-top: 10rem;
}
.image-news {
    padding: 3rem;
    text-align: center;
}
.heading-news {
    font-size: 3.5rem;
    text-align: center;
}
.body-news {
    font-size: 2.5rem;
    padding: 1.5rem;
}
