.read-more-button {
    border-color: #3A3A3;
    color: #3A3A3;
    border-radius: 25px;
    padding: 0.75rem;
    padding-left: 5rem;
    padding-right: 5rem;
    transition-duration: 0.4s;
}
.news-title, .news-content {
    font-family: "Microsoft YaHei",Roboto,Helvetica,Arial,sans-serif;
}
.news-card-container {
    padding-top: 2rem;
    margin: 1rem;
}
.news-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.75;
}
.news-card-metadata {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    text-align: left;
}
.news-source {
    font-size: 1rem;
    padding: 1rem;
}
.news-datetime {
    font-size: 1rem;
    padding: 1rem;
}
.news-card-image {
    padding: 1rem;
    text-align: center;
}
.news-image {
    max-width: 100%;
}
.news-card-content {
    font-size: 1.15rem;
    line-height: 1.5;
    padding: 0.75rem;
}

.news-card-info {
    text-align: center;
}
.read-more-button:hover {
  background-color: #cfcfcf;
  color: white;
}
